<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/logo-single.png" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h1>{{ 'home.TITLE' | translate }}</h1>
                <p>
                    {{ 'home.BODY' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
